d<% include /workspace/projectx/views/partials/header.ejs %>
<div class="ui  divider"></div>
<h2 class="ui center aligned icon header">
  <i class="euro sign icon"></i>
  AUTH Hold transactions
</h2>

<div class="col-md-3 text-center">
	<div style="height:300px;overflow-x: scroll;">
	<table class="ui inverted olive table">
	<table class="ui inverted olive table">
      <thead>
        <tr>
		  
          <th>encodedKey</th>
          <th>cardToken</th>
          <th>externalReferenceId</th>
		  <th>amount</th>
          <th>status</th>

        </tr>
      </thead>

      <tbody>
        <% if(token1 !=null){ %>
        <% for(var i=0; i < token1.length; i++) { %>
       <tr>
         
         <td class=""><%= token1[i].encodedKey %></td>
		   
         <td class=""><%= token1[i].cardToken %></td>
		     <td class=""><%= token1[i].externalReferenceId %></td>
         <td class=""><%= token1[i].amount %></td>
		     <td class=""><%= token1[i].status %></td>
       </tr>
    <% } %>
      <% } else{ %>
          <% window.alert("timedout"); %>
          <% } %>
      </tbody>

    </table>
</div>
</div>
<div class="ui  divider"></div>

<div class="ui grid">

<div class="ui main text container">

<div class="ui top attached segment">
<div class="ui huge header">Mambu Complete/Modify/delete AUTHHold transaction</div>
<div class="item">
	    <div class="content">
							<form class="ui form" action='/financialtransactions' method="POST">
								<div >
									<label>Select the card from the above</label>
									 <input type="text" name="cardToken" value="" placeholder="Please select one of the available card token">
								</div>

								<div >
									<label>externalReferenceId</label>
									 <input type="text" name="externalReferenceId" value="">
								</div>
								<div >
									<label>amount</label>
									 <input type="text" name="amount" value="">
								</div>
								<div >
									<label>currencyCode</label>
									 <input type="text" name="currencyCode" value="EUR" readonly="readonly">
								</div>

								<div >
									<label>externalAuthorizationReferenceId</label>
									 <input type="text" name="externalAuthorizationReferenceId" value="" placeholder="Make sure to have this field mathced externalReferenceId from the auth HOLD">
								</div>

								<div >
									<label>advice</label>
									 <input type="text" name="advice" value="true">
								</div>

								<div >
									<label>Select Operations</label>
									<select name="select">
									  <option value="Increase">Increase</option>
									  <option value="Decrease">Decrease</option>
									  <option value="Reverse">Reverse</option>
									  <option value="Complete">Complete</option>
									</select>
								</div>


								<div >
									<label>transactionChannelId</label>
									 <input type="text" name="transactionChannelId" value="cash">
								</div>
								 <input class="ui blue basic big button" type="submit" placeholder="Submit Auth Hold" name="Submit Auth Hold">
							</form>
</div>
</div>
</div>
</div>

</div>
<div class="ui  divider"></div>

<div class="ui main text container">

	<div class="ui huge header">Mambu Card Auth Hold Transaction</div>


						<div class="ui top attached segment">
							<div class="ui divided items">
								<div class="item">
									<div class="content">
											<form class="ui form" action='/authorizationholds' method="POST">
											<div >
												<label>Select the card from the above</label>
												 <input type="text" name="cardToken" value="" placeholder="Please select one of the available card token">
											</div>

											<div >
												<label>externalReferenceId</label>
												 <input type="text" name="externalReferenceId" value="">
											</div>
											<div >
												<label>amount</label>
												 <input type="text" name="amount" value="">
											</div>
											<div >
												<label>currencyCode</label>
												 <input type="text" name="currencyCode" value="EUR" readonly="readonly">
											</div>

											<div >
												<label>externalAuthorizationReferenceId</label>
												 <input type="text" name="externalAuthorizationReferenceId" value="">
											</div>

											<div >
												<label>advice</label>
												 <input type="text" name="advice" value="true">
											</div>
											<div >
												<label>transactionChannelId</label>
												 <input type="text" name="transactionChannelId" value="cash">
											</div>

											<div >
												<label>Action</label>
												 <input type="text" name="action" value="true">
											</div>

											 <input class="ui blue basic big button" type="submit" placeholder="Submit Auth Hold" name="Submit Auth Hold">
											</form>
									</div>
								</div>
						</div>
	</div>
	</div>
</div>

		</div>
			<a href="/index">Go Back</a>
        </div>
    </div>

<% include /workspace/projectx/views/partials/footer.ejs %>
